<h1>
This is where we hide the secrets
</h1>

{{input value=newSecretBody}}
<input type="button" value="New Secret" {{action "createSecret"}}>

<ul>
  {{#each model as |secret|}}
    {{secret-item secret=secret}}
  {{/each}}
</ul>

{{outlet}}
